.menu-utilisateur-titre{
text-align: center;
margin-top: 100px;	
}
.menu-utilisateur {	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0;
}

.menu-utilisateur-container {
	width: 250px;
	height:150px;
	position: relative;
	margin: 30px;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	background: var(--bleu);
	overflow: hidden;
	transition: 0.4s;
}

.menu-utilisateur-text {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 10px 0;
	flex-direction: column;
	align-items: center;
}
.menu-utilisateur-text-titre{
	text-align:center;
  font-weight: bold;
  color:var(--orange); 
}

.menu-utilisateur-container:hover {
	text-decoration: underline;
	width: 300px;
	height: 175px;
}

