/*--------------------------------------------------------------
#  Header
--------------------------------------------------------------*/
:root{
    --orange: #FFC13B;
    --bleu: #1E3D59;
    --text: rgba(236,236,236,.9);
    --gris: #F5F0E1;
}












/*--------------------------------------------------------------
#  Header
--------------------------------------------------------------*/
.header {
	background: #1E3D59;
	height: 8vh;
	position:fixed;
	width:100%;
	top:0;
	z-index:999;
}

.navigation {
	padding: 10px 100px;
	display: flex;
	align-items: center;
	padding:0 15px;
}

.titre {
	margin-right: auto;
	color: #F5F0E1;
}

.nav-lien:link, .nav-lien:visited {
	text-decoration: none;
	font-size: 20px;
	padding: 10px 30px;
	text-transform: uppercase;
	color: #F5F0E1;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	transition: all .2s;
}

.nav-lien:not(:last-child) {
	border-right: 1px solid #F5F0E1;
}

.nav-lien:hover {
	background-color: white;
	color: #222222;
}

/*--------------------------------------------------------------
  Body
--------------------------------------------------------------*/
.body {
	background: var(--gris);

	padding: 50px 0 150px 0;

}

body{
	margin:0;
}

/*--------------------------------------------------------------
  Footer
--------------------------------------------------------------*/
.footer {
	background-color: var(--bleu);
}

/*--------------------------------------------------------------
  Media Queries
--------------------------------------------------------------*/
@media only screen and (max-width: 1100px) {
	.nav-lien:link, .nav-lien:visited {
		font-size: 15px;
		padding: 10px;
	}
	.navigation {
		padding: 10 px 50 px;
	}
}

@media only screen and (max-width: 1100px) {
	.navigation {
		flex-direction: column;
	}
	.titre {
		margin-right: 0;
	}
	.header {
		height: 15vh;
	}
}

@media only screen and (max-width: 650px) {
	.nav-lien:link, .nav-lien:visited {
		display: block;
	}
	.nav-lien:not(:last-child) {
		border-right: none;
		border-bottom: 1px solid #F5F0E1;
	}
	.header {
		height: 30vh;
	}
	.body {
	
	padding: 150px 0 150px 0;
}
	
}


/*--------------------------------------------------------------
#  Index
--------------------------------------------------------------*/

.imgCopro{
	background-image: url("#{resource['images/copro2.jpeg']}");
	height: 25vh;
	background-size: cover;
	padding-bottom: 10vh;	
}



/*--------------------------------------------------------------
#  Actualités copro
--------------------------------------------------------------*/
.actu{
    background: var(--gris);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100vw;
    font-family: 'Lato', sans-serif;
}

.event{
    background: var(--bleu);
    box-shadow: 0 0 20px var(--bleu);
    height: auto;
    width: 800px;
    border-radius: 3px;
    display: flex;
    align-items: flex-start;
    padding: 30px 50px;
}

.event_date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--orange);
    padding-right: 30px;
}

.event_date--day{
    font-size: 80px;
    font-weight: 300;
}

.event_date--month{
    text-transform: uppercase;
    margin-top: -10px;
    font-size: 25px;
}

.event_date--year{
    margin-top: -4px;
    font-size: 25px;
}

.event_description{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.event_description--title{
    font-size: 32px;
    margin-bottom: 12px;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--orange);
    font-weight: 700;
}

.event_description--text{
    margin-bottom: 20px;
}

/*--------------------------------------------------------------
#  Services index
--------------------------------------------------------------*/
.titreIndex{
	padding: 1em;
	color:var(--bleu); 	
}

.serviceIndex {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 0;
}

.carteIndex{
  width: 300px; 
  margin: 0px auto; 
  box-shadow: 0px 5px 20px #999; 
  background: var(--bleu);
  border-radius: 3px;
}

.carte-image {
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.carte-image img {
  width: 100%;
  position: absolute;
}

.carte-body {
    text-align:center;  
  padding: 5px 5px; 
  box-sizing: border-box; 
}

.carte-title, .carte-prix {
   font-family: 'Playfair Display', serif;
}

.carte-titre {
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
  color:var(--orange); 
}

.carte-prix{
	font-size: 20px;
	color:var(--gris); 
}




/*--------------------------------------------------------------
#  Détail service
--------------------------------------------------------------*/

.annonce-description{
	border-top: 3px solid var(--orange);
	text-align:left; 
	margin-bottom: 12px;
    padding-bottom: 3px;
    color:var(--gris); 
    
}

.carteService{
	 width: 500px; 
  margin: 50px auto; 
  box-shadow: 0px 5px 20px #999; 
  background: var(--bleu);
  border-radius: 3px;
}

.annonce-proprio{
	border-top: 3px solid var(--orange);
	text-align:left; 
	margin-bottom: 12px;
    padding-bottom: 3px;
    color:var(--gris); 
}
.reserver{
	 padding: 15px 25px;
  border-radius: 10px;
  border:none;
  font-size: 15px;
  color: var(--bleu);
  background-color: var(--gris);
  outline:none;
  cursor:pointer;
  margin:5px;
}



