*--------------------------------------------------------------
#  Header
--------------------------------------------------------------*/

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

.navbar li {
    position: relative;
  }
  
.navbar{
	color : red;
}


